video #vid1 {
  position: $posfix;
  top: $pour50;
  left: $pour50;
  min-width: $pour100;
  min-height: $pour100;
  width: $auto;
  height: $auto;
  z-index: -1000;
  transform: translateX(-$pour50) translateY(-$pour50);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.presentation {
  background-image: url("../images/Robot_3D_1600x900.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}