/*Formulaire*/

form, fieldset {
  margin: $var15;
  padding: $var15;
}

form p, input{
  margin-bottom: $var15;
}

#submit {
  border: $coloraqua $var2 $solid ;
  border-radius: $var5 $var5 ;
  background-color: $coloraquamar;
  width: $var180;
  height: $var50;
  font-weight: $fontbold;
  font-size: $var18;
  color: $colorblue;
}