/* liens réseaux sociaux */

#slider_left {
  position: $posfix;
  z-index: 250;
  top: $var200;
  left: 0;
  width: $var90;
  min-height: $var450;
}
#slider_left .slider_holder {
  position: $posrel;
  left: -195px;
  width: 190px;
}
#slider_left .slider_holder .switch_holder {
  position: absolute;
  width: $var35;
  right: -$var35;
}
#slider_left .slider_holder .switch_holder a {
  background-color: transparent;
  color: $colorwheat;
  display: block;
  padding-left: $var2;
  text-align: $poscent;
  font-weight: normal;
  font-size: 32px;
  line-height: $var50;
  height: $var50;
  width: $var50;
  border-top-right-radius: $var6;
  border-bottom-right-radius: $var6;
}

#slider_left .slider_holder .slider_container {
  height: $var50;
}


/* liens premier menu */

.menu1 {
  float: $posri;
  position: $posabs;
  color: $colorwheat;
}

#menuitem1, #menuitem2, #menuitem3, #menuitem4 {
  color: #7abaff;
  position: $posabs;
  font-family: 'Courgette';
  font-size: 1.5rem;
  top: $var50;
  left: $var30;
}

@keyframes animitem1 {
  0% {
    transform: translateY(-$var20);
  }

  50% {
    transform: translateY($var450);
  }

  100% {
    transform: translateY($var250) translateX($var180) rotate(20deg);
  }
}

.menuitem1 {
  position: $posabs;
  top: -$var200;
  left : $var100;
  width: $var200;
  height: $var150;
  animation: animitem3 10s;
  animation-fill-mode  : forwards;
  animation-delay: 3s;
  :hover {
    transform: rotateY(180deg);
    opacity: 0.7;
  }
}

@keyframes animitem2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(650px);
  }

  100% {
    transform:  translateY($var350) translateX($var150) rotate(30deg);
  }
}

.menuitem2 {
  position: absolute;
  top: -$var200;
  left : $var400;
  width: $var200;
  height: $var150;
  animation: animitem2 8s;
  animation-fill-mode  : forwards;
  animation-delay: 1s;
}

@keyframes animitem3 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(450px);
  }

  100% {
    transform: translateY(550px) translateX(100px) rotate(10deg);
  }
}

.menuitem3 {
  position: absolute;
  top: -200px;
  left : 700px;
  width: 200px;
  height: 150px;
  animation: animitem1 8s;
  animation-fill-mode  : forwards;
  animation-delay: 2s;
}

@keyframes animitem4 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(550px);
  }

  100% {
    transform: translateY(650px) translateX($var180) rotate(-10deg);
  }
}

.menuitem4 {
  position: absolute;
  top: -$var200;
  left : 900px;
  width: $var200;
  height: $var150;
  animation: animitem4 12s;
  animation-fill-mode  : forwards;
  animation-delay: 3s;
}
