.owl-carousel {
  height: $var600;
  margin: $var30;
}

#portfolio  h2 {
  font-family: 'Great Vibes' ;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;

}

#portfolio {
  height: 800px;
}