@charset "UTF-8";
video #vid1 {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity; }

.presentation {
  background-image: url("../images/Robot_3D_1600x900.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px; }

/* liens réseaux sociaux */
#slider_left {
  position: fixed;
  z-index: 250;
  top: 200px;
  left: 0;
  width: 90px;
  min-height: 450px; }

#slider_left .slider_holder {
  position: relative;
  left: -195px;
  width: 190px; }

#slider_left .slider_holder .switch_holder {
  position: absolute;
  width: 35px;
  right: -35px; }

#slider_left .slider_holder .switch_holder a {
  background-color: transparent;
  color: wheat;
  display: block;
  padding-left: 2px;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

#slider_left .slider_holder .slider_container {
  height: 50px; }

/* liens premier menu */
.menu1 {
  float: right;
  position: absolute;
  color: wheat; }

#menuitem1, #menuitem2, #menuitem3, #menuitem4 {
  color: #7abaff;
  position: absolute;
  font-family: 'Courgette';
  font-size: 1.5rem;
  top: 50px;
  left: 30px; }

@keyframes animitem1 {
  0% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(450px); }
  100% {
    transform: translateY(250px) translateX(180px) rotate(20deg); } }
.menuitem1 {
  position: absolute;
  top: -200px;
  left: 100px;
  width: 200px;
  height: 150px;
  animation: animitem3 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s; }
  .menuitem1 :hover {
    transform: rotateY(180deg);
    opacity: 0.7; }

@keyframes animitem2 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(650px); }
  100% {
    transform: translateY(350px) translateX(150px) rotate(30deg); } }
.menuitem2 {
  position: absolute;
  top: -200px;
  left: 400px;
  width: 200px;
  height: 150px;
  animation: animitem2 8s;
  animation-fill-mode: forwards;
  animation-delay: 1s; }

@keyframes animitem3 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(450px); }
  100% {
    transform: translateY(550px) translateX(100px) rotate(10deg); } }
.menuitem3 {
  position: absolute;
  top: -200px;
  left: 700px;
  width: 200px;
  height: 150px;
  animation: animitem1 8s;
  animation-fill-mode: forwards;
  animation-delay: 2s; }

@keyframes animitem4 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(550px); }
  100% {
    transform: translateY(650px) translateX(180px) rotate(-10deg); } }
.menuitem4 {
  position: absolute;
  top: -200px;
  left: 900px;
  width: 200px;
  height: 150px;
  animation: animitem4 12s;
  animation-fill-mode: forwards;
  animation-delay: 3s; }

#presentation p {
  font-family: 'Alegreya';
  font-size: 1.5rem; }

/*Formulaire*/
form, fieldset {
  margin: 15px;
  padding: 15px; }

form p, input {
  margin-bottom: 15px; }

#submit {
  border: aqua 2px solid;
  border-radius: 5px 5px;
  background-color: aquamarine;
  width: 180px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  color: blue; }

.owl-carousel {
  height: 600px;
  margin: 30px; }

#portfolio h2 {
  font-family: "Great Vibes";
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center; }

#portfolio {
  height: 800px; }

body {
  margin: 0px;
  padding: 0px; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/*# sourceMappingURL=style.css.map */
